<div class="cabecera">
  <p>Made with love by Margaret Scott</p>
  <h1>Musketeers Chat.</h1>
  <h3 id="numUsuarios"></h3>
</div>
<div class="chat">
  <ul id="mensajes">
    <li><strong>Karla:</strong> Hey girls, who fancy a cuppa?</li>
    <li><strong>Nadine:</strong>count on me, at 11 at Sweet M Bakery</li>
    <li><strong>Joanne:</strong>Yep! I`ll be there at 11</li>
  </ul>
</div>
<div class="botones">
  <div>
    <label>Name</label>
    <input type="text" id="inputNombre">
  </div>
  <div>
    <label>Message</label>
    <input type="text" id="inputMensaje">
  </div>
  <div>
    <button id="btnEnviar">Send</button>
  </div>
</div>

<script src="/javascripts/client-socket.js"></script>